form(ng-submit="ctrl.createNotebook()")
  .form-group
    label(for="name") Name
    input.form-control(type="text" ng-model="ctrl.notebook.name")
  .form-group
    label(for="description") Body
    textarea.form-control(ng-model="ctrl.notebook.description")
  input.btn.btn-success(type="submit", value="Save")
