form(ng-submit="ctrl.createNote()")
  .form-group
    label(for="name") Name
    input.form-control(type="text" ng-model="ctrl.newNote.name")
  .form-group
    label(for="body") Body
    textarea.form-control(ng-model="ctrl.newNote.body")
  input.btn.btn-success(type="submit", value="Save")
