.row
  .col-md-3
    .panel.panel-default
      .panel-heading
        h3.panel-title Recent Notes
      .panel-body
        a(href="#/notes/new")
          span.glyphicon.glyphicon-plus-sign
          |  Create Note
    .panel.panel-default
      .panel-heading
        h3.panel-title Notebooks
      .panel-body
        a(href="notebooks/new")
          span.glyphicon.glyphicon-plus-sign
          |  Create Notebook
  .col-md-9
    .row
      .col-md-12
        input.form-control(placeholder="Search...")
      .col-md-12

