<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" media="all" href="/app.css" />
  </head>

  <% if user_signed_in? %>
    <body ng-app="notes">
      <navbar></navbar>
      <div class="container">
        <div ng-view></div>
      </div>
      <script type="text/javascript" src="/vendor.js"></script>
      <script type="text/javascript" src="/templates.js"></script>
      <script type="text/javascript" src="/app.js"></script>
    </body>
  <% else %>
    <%= render 'layouts/header' %>
    <%= yield %>
  <% end%>
</html>
